@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{

    color:#F0F8FF;
    background-color:  #3d3b3b ;
    margin: 0px;
    margin-bottom.: 100px;
    font-family: "roboto mono", monospace;
    }
    
header{
border-bottom: solid 2px rgb(218, 111, 218);
margin: 20px;
font-size: 32px;
color: black;
}
kjn

section{
padding-bottom: 80px;
padding-top: 80px;
background: #3d3b3b;
display: flex;
justify-content: center;
}



    h1{
     color:#7B68EE;
     font-size: 40px;
    }

    p{
        font-size: 20px;
    }
